body {
  font-family:Arial;
  color: #4e566e;
  margin: 5px;
  background: url(background.jpg);
  background-size: cover;  
}

.header {
  background-color: white;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header h3 {
  margin-left: 15px;
}

.menu {
  margin-right: 5px;
  padding-right: 5px;
}
.menu a {  
  margin: 5px;
  padding-left: 10px;
}
.menu img {
  width:40px;
  height:40px;
  border-radius: 80px;
}

.main {
  background: white;  
  margin: 0 auto;
  width: 800px;  
  text-align: center;    
  display: block;
}

.container {
  padding: 70px;
  margin: 30px auto;
}
p {
  padding-bottom: 30px;
}
.join {
  margin: 30px auto;
  color: yellow;
  background: black;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
}
